.legralLib_nom
	{
	font-size:0.8em;
	border: 1px solid Red;
	background-color:Black;
	color:Magenta;
	margin:0;
	}
.legralLib_var
	{
	font-size:0.8em;
	border-bottom: 1px solid Red;
	background-color:Black;
	color:#F9D47C;
	margin:0;
	}
.legralLib_text
	{
	font-size:0.8em;
	border-bottom: 1px solid Red;
	background-color:Black;
	color:Yellow;
	margin:0;
	}

